#####################################
# JEC CLI Project .gitignore
# Please maintain alphabetical order!
#####################################

#####################################
# VSCE
#####################################

# Ignore VSCE folder
.vscode

#####################################
# TSC
#####################################

# Ignore TSC cache folder 
.tscache

#####################################
# VSCE
#####################################

# Ignore VSCE folder
.vscode

#####################################
# npm
#####################################

# Ignore 'node_modules' folder
node_modules

#####################################
# src
#####################################

# Ignore JavaScript files in src folder
src/**/*.js

#####################################
# test
#####################################

# Ignore JavaScript files in test folder
test/**/*.js
